<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @supplier.company_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @supplier.address %>
</p>

<%= link_to 'Edit', edit_supplier_path(@supplier) %> |
<%= link_to 'Back', suppliers_path %>

<h3> Products </h3>
<table border='1px'>
  <tr>
    <th>Product Name</th>
    <th>Quantity</th>
    <th>Price</th>
  </tr>
<% @supplier.products.each do |product| %>
  <tr>
    <td><%= product.product_name %></td>
    <td><%= product.quantity %></td>
    <td><%= product.price %></td>
  </tr>
<% end %>
</table>